{% extends 'contrib/base.html' %} {% load static %} {% block extrastyle %}
<link rel="stylesheet" href="{% static 'upload_asset/css/list.css' %}" />
{% endblock extrastyle %} {% block contents %}

<div class="container-fluid wrapper">
  <div class="row">
    <p class="heading">Fixed Asset Register</p>
  </div>

  <div class="row">
    <div class="col searchdiv">
      <img src="{% static 'asset_type/images/Search.svg' %}" alt="" />
      <form class="" role="search" method="get">
        <input
          class="search_bar"
          type="search"
          placeholder="              Search asset"
          aria-label="Search"
        />
      </form>
    </div>

    <div class="col justify-content-end addasset_div">
      <a href="{% url 'assetdataupload' %}"
        ><button class="add_asset">
          <img
            src="{% static 'asset_type/images/Combined-Shape.svg' %}"
            alt=""
          />
          <span> Upload Asset Data </span>
        </button></a
      >
    </div>
  </div>

  <div class="row tablerow">
    <div class="col tablediv">
      <table class="table align-middle assettable">
        <thead>
          <tr>
            <th class="col1" scope="col">File Name</th>
            <th class="col2" scope="col">Date Range</th>
            <th class="col1" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for items in object_list %}
          <tr>
            <td class="col1data">{{items.filename}}</td>
            <td class="col2data">{{items.start_date}} - {{items.end_date}}</td>
            <td>
              <ul>
                <a href="{% url 'assetdatadetail' items.pk %}"
                  ><li>
                    <img
                      src="{% static 'asset_type/images/Frame1.svg' %}"
                      alt=""
                    /></li
                ></a>
                <a href="{% url 'assetdataedit' items.pk %}"
                  ><li>
                    <img
                      src="{% static 'asset_type/images/Edit.svg' %}"
                      alt=""
                    /></li
                ></a>
                <a href="#" class="deleteasset"
                  ><li>
                    <img
                      src="{% static 'asset_type/images/Frame.svg' %}"
                      alt=""
                    /></li
                ></a>
              </ul>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock contents %}
