{% extends 'contrib/base.html' %}
{% load static %}


{% block extrahead %}
    <title>Asset Type List</title>
{% endblock extrahead %}


{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'asset_type/css/list.css' %}">
{% endblock extrastyle %}
    

{% block contents %}

    <div class="container-fluid wrapper">
        <div class="row">
            <p class="heading">Manage Asset Types</p>
        </div>

        <div class="row">
            <div class="col searchdiv">
                <img src="{% static 'asset_type/images/Search.svg' %}" alt="">
                <form class="" role="search" method="get">
                    <input class="search_bar" type="search" placeholder="              Search asset" aria-label="Search">
                  </form>
              
            </div>

            <div class="col justify-content-end addasset_div">
                <button class="add_asset">
                    <img src="{% static 'asset_type/images/Combined-Shape.svg' %}" alt="">
                    <span> Add Asset </span>
                   
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col tablediv">
                <table class="table align-middle assettable">
                    <thead>
                      <tr>
                        <th class="col1" scope="col">Type Name</th>
                        <th class="col2" scope="col">Description</th>
                        <th class="col1" scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      {% for items in object_list %}
                        <tr>
                            <td class="col1data" >{{items.type_name}}</td>
                            <td class="col2data">{{items.description}}</td>
                            <td> <ul>
                                <a href=""><li><img src="{% static 'asset_type/images/Frame1.svg' %}" alt=""></li></a>
                                <a href=""><li><img src="{% static 'asset_type/images/Edit.svg' %}" alt=""></li></a>
                                <a href=""><li><img src="{% static 'asset_type/images/Frame.svg' %}" alt=""></li></a>
                            </ul></td>
                        </tr>
                        
                      {% endfor %}
                        
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    
   
        
{% endblock contents %}
    
