{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script src="{% static 'users/js/login.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
        </div>
        <div class="row justify-content-center">
           
            <div class="col-6 align-self-center">
                <div class="row justify-content-center">
                    <div class="col-2"></div>
                    <div class="col align align-self-center">
                        <img src="{% static 'users\images\image 3.jpg' %}" alt=""><br>
                    </div>
                    <div class="col-2"></div>
                </div>
                <h3>Welcome to V-Guard</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="username">
                        <label for="id_username" class="label">Email Address*</label><br>
                    <input type="text" name="username" id="id_username" placeholder="Enter Email"><br>
                    </div>
                    <div class="validate_cred">
                        <p>Please enter email</p>
                    </div>
                  
                    <div class="password">
                        <label for="id_password" class="label">Password*</label><br>
                        <input type="password" name="password" id="id_password" placeholder="Enter Password">
                        <img class="pass_togg pass_toggle_hide" src="{% static 'users/images/Group 48095565.svg' %}" alt="" >
                        <img class="pass_togg pass_toggle_show" id="pass_togg_visible" src="{% static 'users/images/Show.svg' %}" alt="">

                    </div>
                    <div class="validate_cred">
                        <p>Please enter password</p>
                    </div>


                    <div class="row ">
                        <div class="col offset-7" id="forgot_pw">
                            <a href="">Forgot Password?</a><br>
                        </div>

                    </div>
                    <button id="login_btn" type="submit">Login</button>
                    <div class="row validate">
                        <div class="col align-self-center">
                            <p>**Invalid Credentials**</p>
                        </div>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</body>
</html>