{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'contrib/css/base.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="{% static 'contrib/js/base.js' %}"></script>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img src="{% static 'contrib/images/image 3.jpg' %}" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav  ms-auto mb-2 mb-lg-0">
            <a class="nav-link bubble notification" href="#">
              <div class="row align-items-center">
                <img class="img-fluid" id="notification_img" src="{% static 'contrib/images/Combined-Shape.svg' %}" alt="">
              </div>
            </a>
            <a class="nav-link bubble" href="#">
              <div class="row align-items-center">
                <img class="profile_img" src="{% static 'contrib/images/Ellipse.svg' %}" alt="">
              </div>
            </a>
            <a class="nav-link" href="#">
                <div class="row" id="username"><h6>Avinash K P</h6></div>
                <div class="row" id="role"><p>Admin</p></div>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid content-wrapper">
      <div class="row">
        <div class="col">
          <div class="row toggle_btn"><button
            type="button"
            id="collapse_btn"
            data-bs-toggle="collapse"
            data-bs-target="#collapseWidthExample"
            aria-expanded="false"
            aria-controls="collapseWidthExample"
          >
            <img src="{% static 'contrib/images/Stroke-1.svg' %}" alt="" />
          </button></div>  
          <div
            class="collapse collapse-horizontal sidebar"
            id="collapseWidthExample"
          >
         
              
              <ul>
              <a href=""><li><div class="list_item"><img src="{% static 'contrib/images/Category.svg' %}" alt=""><span class="collapse-content">Dashboard</span></div></li></a>
              <a href=""><li><div class="list_item"><img src="{% static 'contrib/images/Add-User.svg' %}" alt=""><span class="collapse-content">Roles & Permissions</span></div></li></a>
              <a href=""><li><div class="list_item"><img src="{% static 'contrib/images/Add-User1.svg' %}" alt=""><span class="collapse-content">User Management</span></div></li></a>
              <a href=""><li><div class="list_item"><img src="{% static 'contrib/images/System-setting.svg' %}" alt=""><span class="collapse-content">System Settings</span></div></li></a>
              <a href=""><li><div class="list_item"><img src="{% static 'contrib/images/Arrow---Up-Square.svg' %}" alt=""><span class="collapse-content">Upload Asset Data</span></div></li></a>
              <a href=""><li><div class="list_item"><img src="{% static 'contrib/images/Document.svg' %}" alt=""><span class="collapse-content">Audit Tasks</span></div></li></a>
              <a href=""><li><div class="list_item"><img src="{% static 'contrib/images/Shield-Done.svg' %}" alt=""><span class="collapse-content">Asset Verification</span></div></li></a>
              <a href=""><li><div class="list_item"><img src="{% static 'contrib/images/Shield-Done.svg' %}" alt=""><span class="collapse-content">Subsequent Verfication</span></div></li></a>
              <a href=""><li><div class="list_item"><img src="{% static 'contrib/images/Shield-Done.svg' %}" alt=""><span class="collapse-content">Verfication Complete</span></div></li></a>
              <a href=""><li><div class="list_item"><img src="{% static 'contrib/images/Report.svg' %}" alt=""><span class="collapse-content">Reports</span></div></li></a>
            </ul>
          </div>
        </div>


        <div class="col contents">
          {% block contents %} {% endblock contents %}
        </div>
      </div>
    </div>
  </body>
</html>
