.heading{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
}

.searchdiv{
    position: relative;
}

.searchdiv img{
    position: absolute;
    top: 13px;
    left:25px;
}

.search_bar{
    height: 45px;
    width: 363px;
    border: 1px solid #F0F2F4;
    font-size: 14px;
    color: #F0F2F4;
    font-weight: 400;
}

.addasset_div{
    display:flex;
}

.add_asset{
    background-color: #F39200;
    color: #ffff;
    width: 144px;
    height: 45px;
    border-radius: 5px;
    border-style: none;
}

.add_asset span{
    padding-left: 8px;
}

.tablediv{
    padding-top: 10px;
    border: 1px solid #F0F2F4;
    border-radius: 5px;
    
}

.assettable thead{
    background-color: none;
}

.assettable tbody tr{
    border-style: none;
}

.assettable tbody tr td{
    background-color: #FAFBFC;
}