body{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
   background-color:rgb(245, 245, 245);
}

.col-6{
    margin-top: 20px;
    width: 461px;
    height: 591px;
    left: calc(50% - 461px/2 + 0.5px);
    top: 159px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 49px;
    filter: drop-shadow(0px 4px 200px rgba(0, 0, 0, 0.1));
backdrop-filter: blur(12.5px);
}

img{
    margin: 10px;
    width: 218px;
    height: 76.31px;
    left: 611px;
    top: 207.84px;
}


h3{
    font-family: 'Inter';
    margin-top: 30px;
    text-align: left;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #323C4D;
}

.password{
    position: relative;
    margin-top: -10px;
}

.pass_togg{
    position: absolute;
    width: 20px;
height: 17px;
left: 320.97px;
top: 65.35px;
}

#pass_togg_visible{
    display: none;
}

label{
    
    margin-top:20px ;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 156.5%;
    color: #141736;
    padding: 5px;
}

#id_username, #id_password{
    font-family: 'Inter';
    padding-left: 20px;
    width: 360px;
    box-sizing: border-box;
background: #FAFBFC;
border: 1px solid #EAEAEB;
border-radius: 6px;
height: 50px;
}

#login_btn{
    border-style: none;
    margin-top: 20px;;
    color: #FFFFFF;
    width: 361px;
    height: 45px;
    left: 540px;
    top: 655px;
    background: #F39200;
    border-radius: 5px;
}

#login_btn:hover{
    color: #F39200;
    background: #FFFFFF;
    border: 1px solid #F39200;
}


a{
    margin: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 156.5%;
    
    color: #F39200;
}

.validate_cred{
    height: 18px;
    color:red;
    font-size:12px;
}

.validate_cred p{
    display: none;
}

.validate{
    color: red;
    text-align: center;
    display: none;
}

#forgot_pw{
    margin-top: 10px; 
    margin-left: 214px;
}

#forgot_pw a{
    padding-left: 10px;
}


